{% extends "base.html" %}
{% block content %}
<h1>Signup</h1>

<form method="POST">

    <label>Username:<input type="text" name="username" value='{{un}}' /></label>
    {% if username_error %}
    <p class='error'>{{username_error}}</p>
    {% endif %}

    </br>

    <label>Password:<input type="password" name="password" /></label>
    {% if password_error %}
    <p class='error'>{{password_error}}</p>
    {% endif %}

    </br>

    <label>Verify Password:<input type="password" name="verify_password" /></label>
    {% if vpassword_error %}
    <p class='error'>{{vpassword_error}}</p>
    {% endif %}

    </br>

    <label>Email (optional):<input type="text" name="email" value='{{em}}' /></label>
    {% if email_error %}
    <p class='error'>{{email_error}}</p>
    {% endif %}

    </br>  
    <input type="submit" />
 
</form>

{% endblock %}